
body{
    max-width: 80%;
    margin: 0 auto;
    font-family: Arial,Helvetica,sans-serif;
}

header{
    display:float;
background: #36424A;
padding: 20px;
}
header h1{
    color:#ff953f;
    background-color:#fff;
    margin-top: 0;
    float: left;
    width: 25%;
}
p{
font-weight: bold;
}
ul{
    list-style: none;
}
nav{
    font-family: 'karla',sans-serif;
}
   nav li{
        display: inline-block;
        margin-right: 15px;
        padding: 3px;

    }
nav li a{
    text-decoration: none;
    color: #fff;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;

}
#left-section{

    float: left;
    width: 30px;
}

#main-section{
    }

#right-section{

}
footer{
    background: #36424A;
    padding: 25px;
}
footer p{
    text-align: center;
    color: #fff;
}