*{
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    
}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
    background: #36424A;

}
header h1{
    margin: 0;
    color: #FF953F;
    font-size: 2.5em;
}

nav li{
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;
   
}
nav li a{
    color: #fff;
    padding: 10px;
    display: block;
}


footer{
    padding: 2em 0;
    background: #36424A;
    text-align: center;
}

section{
    text-align: center;
}

section p{
    text-justify: auto; 
}

section img{
    border: solid 2px whitesmoke;
}




footer p{
    color: #fff;

}










/* MEDIA QUERIES */
@media(min-width:769px){

    .container{
        max-width: 1000px;
        width: 80%;
        margin: 0 auto;
    }
    header h1,
    header nav li{
        display: inline-block;
    }


    .sub-section{
        float: left;
        width: 30%;
        padding: 5px;
        

    }
    .main-section{
        width:35%;
    }

    .clearfix{
        content: " ";
        display: table;
        clear: both;
    }
    .contact-form{
        max-width: 150px;
        margin:0 auto;
        padding: 10px;
      
        
        /* text-align: center; */
    }
    .contact-form label,
    .contact-form input{
        /* background: #9e9e9e; */
        display: block;
        padding:15px;
        
    }
    form caption{
        
    }

    form label{
        width:150px;
    }
    form input{
        width:250px;
       border-bottom-style: solid;
        border-right-style: none;
        border-left-style: none;
        border-top-style: none;
    }

    form input[type="submit"]{
        background:#FF953F;
        font-weight: bold;
        
    }
    .contact-form-textarea{
        border-right-style: none;
        border-left-style: none;
        border-top-style: none;
    }
    
   
}
